/*
  @package sunsettheme
*/

/*
  Variables
*/
$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Vedana, sans-serif;

$light-grey: #898989;
$lighter-gray: #F1F5F1;
$dark-gray: #333333;
$primary-color: #000000;
